.DS_Store
__pycache__/token.cpython-312.pyc
functions/__pycache__/config.cpython-312.pyc
functions/data/__pycache__/categorias.cpython-312.pyc
functions/data/__pycache__/compras.cpython-312.pyc
functions/data/__pycache__/dashboard.cpython-312.pyc
functions/data/__pycache__/usuarios.cpython-312.pyc
functions/user/__pycache__/login.cpython-312.pyc
functions/user/__pycache__/logout.cpython-312.pyc
functions/user/__pycache__/register.cpython-312.pyc
.env
Sprint4 - Database NON-RELATIONAL - 2TDSPX - TPC.zip
